In [ ]:
import urllib
import requests
from pandas.io.json import json_normalize
import json
import pandas as pd
import datetime
import time

In [ ]:
url = 'https://rsbuddy.com/exchange/summary.json'
urljson = urllib.request.urlopen(url)
jsondata = json.loads(urljson.read().decode())

In [ ]:
#Get a list of all items
df = pd.read_json(path_or_buf='https://rsbuddy.com/exchange/summary.json',orient='index', convert_axes=True)
df = df[['id','name','buy_average','buy_quantity','sell_average','sell_quantity','overall_average','overall_quantity']]
data = df.sort_values(by=['id']).reset_index()
data = data.drop(labels='index',axis=1)

In [150]:
#Create test set of specified range number of items
startNum = 0
numItems = 3
tdata = data[startNum:numItems]
tdata

,id,name,buy_average,buy_quantity,sell_average,sell_quantity,overall_average,overall_quantity
0,2,Cannonball,219,947553,219,991512,219,1939065
1,6,Cannon base,202192,19,196844,11,200231,30
2,8,Cannon stand,189315,19,187334,12,188548,31

In [139]:
i = 0
urlquery = pd.DataFrame(columns=['id', 'name', 'data'])
#Iterate through all items, grab data from api and append to urlquery dataframe
while(i<tdata['id'].count()):
    key = tdata.iloc[i]['id']
    name = tdata.iloc[i]['name']
    print(name)
    #Attempt to get data from API, retry if HTTP error
    try:
        url = f'https://api.rsbuddy.com/grandExchange?a=graph&g=240&start=1474615279000&i={key}'
        tempDataFrame = pd.DataFrame()
        tempDataFrame = pd.read_json(path_or_buf=url,orient='records', convert_axes=False)
        urlquery = urlquery.append({'id':key, 'name': name, 'data':tempDataFrame}, ignore_index=True)
        i+=1
        print("It worked! On to the next one.")
    except:
        print("Got fucked. Trying again. :)")
        time.sleep(1)
        
#Reformat urlquery columns, convert timestamp from miliseconds to seconds, convert timestamp to date, and sort by date
for index, row in urlquery.iterrows():
    row['data'] = row['data'][['ts','buyingPrice','buyingCompleted','sellingPrice','sellingCompleted','overallPrice','overallCompleted']]
    row['data'] = row['data'].sort_values(by=['ts'],ascending=1).reset_index()
    count = 0 
    for ind, r in row['data'].iterrows():
        r['ts'] = r['ts']/1000
        row['data'].loc[ind, 'date'] = datetime.datetime.fromtimestamp(r['ts']).isoformat()
    row['data'] = row['data'].drop(labels='index',axis=1)

Empty DataFrame
Columns: [id, name, data]
Index: []
2
It worked! On to the next one.
6
Got fucked. Trying again. :)
6
Got fucked. Trying again. :)
6
Got fucked. Trying again. :)
6
It worked! On to the next one.
8
It worked! On to the next one.

In [147]:
urlquery.iloc[0]['data'][:100]

,buyingCompleted,buyingPrice,overallCompleted,overallPrice,sellingCompleted,sellingPrice,ts
0,2035229.0,224.0,3571637,223,1536408.0,223.0,1474603200000
1,1824092.0,229.0,2920855,228,1096763.0,228.0,1474617600000
2,2573115.0,230.0,4696411,229,2123296.0,229.0,1474632000000
3,3081875.0,226.0,5362912,225,2281037.0,224.0,1474646400000
4,2693098.0,228.0,4844232,227,2151134.0,225.0,1474660800000
5,2302011.0,227.0,4514199,226,2212188.0,225.0,1474675200000
6,1927665.0,225.0,3548452,224,1620787.0,224.0,1474689600000
7,2055325.0,227.0,3693494,227,1638169.0,226.0,1474704000000
8,2646175.0,225.0,4611767,224,1965592.0,224.0,1474718400000
9,2926014.0,222.0,5369812,221,2443798.0,220.0,1474732800000
10,3086043.0,222.0,5466239,221,2380196.0,219.0,1474747200000
11,2746995.0,220.0,4782007,219,2035012.0,218.0,1474761600000
12,2101108.0,220.0,3592959,219,1491851.0,218.0,1474776000000
13,2249554.0,220.0,3907592,219,1658038.0,218.0,1474790400000
14,2882240.0,217.0,5142182,216,2259942.0,215.0,1474804800000
15,3259597.0,219.0,5764479,219,2504882.0,219.0,1474819200000
16,3271619.0,218.0,6097516,217,2825897.0,216.0,1474833600000
17,2520270.0,219.0,4727909,217,2207639.0,216.0,1474848000000
18,2044762.0,213.0,3511156,212,1466394.0,210.0,1474862400000
19,1812413.0,216.0,3264572,216,1452159.0,216.0,1474876800000
20,2828280.0,217.0,5241274,216,2412994.0,215.0,1474891200000
21,3291697.0,216.0,6079174,215,2787477.0,213.0,1474905600000
22,2754717.0,220.0,5199457,220,2444740.0,220.0,1474920000000
23,2544907.0,219.0,5027173,218,2482266.0,218.0,1474934400000
24,1836185.0,222.0,3565653,221,1729468.0,220.0,1474948800000
25,1568231.0,223.0,2876549,223,1308318.0,222.0,1474963200000
26,2185225.0,223.0,4092579,223,1907354.0,222.0,1474977600000
27,3187438.0,226.0,5527812,225,2340374.0,224.0,1474992000000
28,2847686.0,226.0,5443783,225,2596097.0,224.0,1475006400000
29,2360640.0,226.0,4527193,225,2166553.0,224.0,1475020800000
...,...,...,...,...,...,...,...
70,2908277.0,219.0,5469788,218,2561511.0,217.0,1475611200000
71,2349812.0,217.0,4742848,216,2393036.0,215.0,1475625600000
72,1961471.0,218.0,3664727,218,1703256.0,218.0,1475640000000
73,2088412.0,219.0,3830571,219,1742159.0,218.0,1475654400000
74,2182918.0,218.0,4331402,218,2148484.0,217.0,1475668800000
75,2797423.0,218.0,5010698,218,2213275.0,217.0,1475683200000
76,2510564.0,218.0,4724141,217,2213577.0,217.0,1475697600000
77,2394870.0,218.0,4494888,217,2100018.0,216.0,1475712000000
78,1788390.0,219.0,3331963,218,1543573.0,217.0,1475726400000
79,1779393.0,224.0,2944568,223,1165175.0,223.0,1475740800000
80,2473764.0,221.0,4856357,221,2382593.0,221.0,1475755200000
81,3162960.0,218.0,6041339,218,2878379.0,218.0,1475769600000
82,3089746.0,222.0,5828903,221,2739157.0,220.0,1475784000000
83,2526666.0,220.0,4982344,220,2455678.0,221.0,1475798400000
84,1907370.0,222.0,3585308,221,1677938.0,221.0,1475812800000
85,1774870.0,225.0,3207174,225,1432304.0,225.0,1475827200000
86,2845742.0,226.0,4952766,225,2107024.0,225.0,1475841600000
87,2615490.0,224.0,4528271,223,1912781.0,222.0,1475856000000
88,2668997.0,227.0,5277426,226,2608429.0,225.0,1475870400000
89,2348411.0,222.0,4638174,221,2289763.0,220.0,1475884800000
90,1873726.0,223.0,3584784,223,1711058.0,222.0,1475899200000
91,2358507.0,225.0,4209386,224,1850879.0,223.0,1475913600000
92,2865837.0,225.0,4916996,225,2051159.0,224.0,1475928000000
93,2983536.0,225.0,5195055,225,2211519.0,224.0,1475942400000
94,2937005.0,227.0,5967244,226,3030239.0,226.0,1475956800000
95,2503575.0,225.0,4756178,225,2252603.0,224.0,1475971200000
96,1851962.0,225.0,3499382,224,1647420.0,222.0,1475985600000
97,2461074.0,223.0,4059856,223,1598782.0,223.0,1476000000000
98,2851058.0,224.0,5091854,223,2240796.0,223.0,1476014400000
99,3741047.0,223.0,7084020,223,3342973.0,222.0,1476028800000