In [212]:
import urllib
import requests
from pandas.io.json import json_normalize
import json
import pandas as pd
import datetime
import time
import math

In [2]:
url = 'https://rsbuddy.com/exchange/summary.json'
urljson = urllib.request.urlopen(url)
jsondata = json.loads(urljson.read().decode())

In [231]:
#Get a list of all items
df = pd.read_json(path_or_buf='https://rsbuddy.com/exchange/summary.json',orient='index', convert_axes=True)
df = df[['id','name','buy_average','buy_quantity','sell_average','sell_quantity','overall_average','overall_quantity']]
data = df.sort_values(by=['id']).reset_index()
data = data.drop(labels='index',axis=1)

In [4]:
#Create test set of specified range number of items
startNum = 0
numItems = 3
tdata = data[startNum:numItems]
tdata

,id,name,buy_average,buy_quantity,sell_average,sell_quantity,overall_average,overall_quantity
0,2,Cannonball,218,810111,217,831495,218,1641606
1,6,Cannon base,296575,3,235223,13,246727,16
2,8,Cannon stand,210000,3,191447,11,195423,14

In [258]:
i = 0
j = 0
urlquery = pd.DataFrame(columns=['id', 'name', 'data'])
#Iterate through all items, grab data from api and append to urlquery dataframe
while(i<tdata['id'].count()):
    key = tdata.iloc[i]['id']
    name = tdata.iloc[i]['name']
    if (j == 0):
        print("Item Id - " + str(key) + ": " + name)
    #Attempt to get data from API, retry if HTTP error
    try:
        url = f'https://api.rsbuddy.com/grandExchange?a=graph&g=240&start=1474615279000&i={key}'
        tempDataFrame = pd.DataFrame()
        tempDataFrame = pd.read_json(path_or_buf=url,orient='records', convert_axes=False)
        urlquery = urlquery.append({'id':key, 'name': name, 'data':tempDataFrame}, ignore_index=True)
        i+=1
        print("It worked! On to the next one.")
        j = 0
    except:
        print("Got fucked. Trying again. :)")
        time.sleep(1)
        j = 1
#Reformat urlquery columns, convert timestamp from miliseconds to seconds, convert timestamp to date, and sort by date
for index, row in urlquery.iterrows():
    row['data'] = row['data'][['ts','buyingPrice','buyingCompleted','sellingPrice','sellingCompleted','overallPrice','overallCompleted']]
    row['data'] = row['data'].sort_values(by=['ts'],ascending=1).reset_index()
    count = 0 
    for ind, r in row['data'].iterrows():
        r['ts'] = r['ts']/1000
        row['data'].loc[ind, 'ts'] = int(r['ts'])
        row['data'].loc[ind, 'date'] = datetime.datetime.fromtimestamp(r['ts']).isoformat()
    row['data'] = row['data'].drop(labels='index',axis=1)

Item Id - 2: Cannonball
Got fucked. Trying again. :)
Got fucked. Trying again. :)
Got fucked. Trying again. :)
Got fucked. Trying again. :)
It worked! On to the next one.
Item Id - 6: Cannon base
It worked! On to the next one.
Item Id - 8: Cannon stand
It worked! On to the next one.

In [246]:
test_set_size = 30 #In Days - define the number of epochs to include in the test data
item_id = 2 #Define the item to be queried for

#takes the item_id and generates the test data for the specified parameters as an array
test_set = urlquery.loc[urlquery['id'] == item_id]
train_x_headers = list(urlquery.iloc[0]['data'].columns.values[0:7])
print ("Data for " + test_set.iloc[0]['name'] + ":")
print(train_x_headers)
train_x = test_set.iloc[0]['data'].iloc[0:math.ceil(test_set_size*6)].values[:,0:7]
train_x

Data for Cannonball:
['ts', 'buyingPrice', 'buyingCompleted', 'sellingPrice', 'sellingCompleted', 'overallPrice', 'overallCompleted']

array([[1474603200, 224.0, 2035229.0, ..., 1536408.0, 223, 3571637],
       [1474617600, 229.0, 1824092.0, ..., 1096763.0, 228, 2920855],
       [1474632000, 230.0, 2573115.0, ..., 2123296.0, 229, 4696411],
       ...,
       [1477152000, 217.0, 3294372.0, ..., 2728131.0, 216, 6022503],
       [1477166400, 216.0, 2825129.0, ..., 2549596.0, 215, 5374725],
       [1477180800, 216.0, 2782595.0, ..., 2069876.0, 216, 4852471]], dtype=object)

In [10]:
urlquery.iloc[0]['data'].iloc[0:20]

,ts,buyingPrice,buyingCompleted,sellingPrice,sellingCompleted,overallPrice,overallCompleted,date
0,1474603200,224.0,2035229.0,223.0,1536408.0,223,3571637,2016-09-23T00:00:00
1,1474617600,229.0,1824092.0,228.0,1096763.0,228,2920855,2016-09-23T04:00:00
2,1474632000,230.0,2573115.0,229.0,2123296.0,229,4696411,2016-09-23T08:00:00
3,1474646400,226.0,3081875.0,224.0,2281037.0,225,5362912,2016-09-23T12:00:00
4,1474660800,228.0,2693098.0,225.0,2151134.0,227,4844232,2016-09-23T16:00:00
5,1474675200,227.0,2302011.0,225.0,2212188.0,226,4514199,2016-09-23T20:00:00
6,1474689600,225.0,1927665.0,224.0,1620787.0,224,3548452,2016-09-24T00:00:00
7,1474704000,227.0,2055325.0,226.0,1638169.0,227,3693494,2016-09-24T04:00:00
8,1474718400,225.0,2646175.0,224.0,1965592.0,224,4611767,2016-09-24T08:00:00
9,1474732800,222.0,2926014.0,220.0,2443798.0,221,5369812,2016-09-24T12:00:00
10,1474747200,222.0,3086043.0,219.0,2380196.0,221,5466239,2016-09-24T16:00:00
11,1474761600,220.0,2746995.0,218.0,2035012.0,219,4782007,2016-09-24T20:00:00
12,1474776000,220.0,2101108.0,218.0,1491851.0,219,3592959,2016-09-25T00:00:00
13,1474790400,220.0,2249554.0,218.0,1658038.0,219,3907592,2016-09-25T04:00:00
14,1474804800,217.0,2882240.0,215.0,2259942.0,216,5142182,2016-09-25T08:00:00
15,1474819200,219.0,3259597.0,219.0,2504882.0,219,5764479,2016-09-25T12:00:00
16,1474833600,218.0,3271619.0,216.0,2825897.0,217,6097516,2016-09-25T16:00:00
17,1474848000,219.0,2520270.0,216.0,2207639.0,217,4727909,2016-09-25T20:00:00
18,1474862400,213.0,2044762.0,210.0,1466394.0,212,3511156,2016-09-26T00:00:00
19,1474876800,216.0,1812413.0,216.0,1452159.0,216,3264572,2016-09-26T04:00:00